.p1{
    background-color: #FF6347;
}
.p2{
    background-color: #FFA500;
}
.p3{
    background-color: #005A9C;
}
.p4{
    background-color: #3cb371;
}
.p5{
    background-color: #808080;
}
.p6{
    background-color: #6A5ACD;
}
.p7{
    background-color: #7F00FF;
}
.p8{
    background-color: #D3D3D3;
}